.collection-preview {
  display: flex;
  flex-direction: column;
  .collection-title {
    margin-top: 0.5rem;
  }
  .preview-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1rem;
  }
}
